<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <link rel="stylesheet" href="../../css/search.css">
</head>
<body>
      <div class="video-slide left">
            <div class="content-wrapper">
             <div class="video-type">
                 <h3>My Yoga</h3>
                 <p>My Yoga on Gaiam TV, the ultimate resource to strengthen, center and awaken your body, mind and soul. </p>
                 <a href="http://www.gaiamtv.com/my-yoga">Explore My Yoga</a>
             </div>
             <iframe class="vimeo-player" src="https://player.vimeo.com/video/127212672?title=0&amp;byline=0&amp;portrait=0&amp;badge=0api=1" width="670" height="376" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
         </div>
     </div>

<div class="video-slide right">
           <div class="content-wrapper">
             <div class="video-type">
                 <h3>Seeking Truth</h3>
                 <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                 <a href="http://www.gaiamtv.com/seeking-truth">Explore Seeking Truth</a>
             </div>
             <iframe class="vimeo-player" src="https://player.vimeo.com/video/144772562?title=0&amp;byline=0&amp;portrait=0&amp;badge=0api=1" width="670" height="376" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
         </div>
     </div>
</body>
 