<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <link rel="stylesheet" href="../../css/search.css">
</head>

<body>
      <form id="search" class="link-container search-box">
            <input type="text" class="txt" placeholder="Search Here..." id="search-text">
            <button type="submit" class="btn"><i class="fa fa-search" id="submit"></i></button>
      </form>
      <p id="adding"></p>
            <script src="../../script/test.js"></script>

</body>