<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <%- include('../partials/head') %>
        <link href="/css/login.css" rel="stylesheet" type="text/css">
        <title>Login</title>
</head>

<body>
    <form id="Login-Form">
        <div class="left">
            <h1>Welcome</h1>
             <fieldset>
          <label for="username">Username or Email</label>
          <input type="text" id="username" >
          <label for="password">Password</label>
          <input type="password" id = "password">
          <a href="#">Forgot your password?</a>
          <button class="primaryBtn" type="submit">Sign in</button>
          <div class="separator"></div>
          <span>Don't have an account yet?</span>
          <button class="secondaryBtn">Sign up</button>
        </fieldset>
    </form>
   </div>
   <div class="right"></div>
    </form>
      <script src="../../script/login.js"></script>
</body>

</html>