<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="/css/search.css">
	<!-------HIDDEN NAV SIDEBAR MENU------->
	<div id="menu-container">

		<a class="link-container" href="/">
			<i class="fa-solid fa-home icons"></i>
			<span class="menu-links">Home</span>
		</a>
		<a class="link-container" href="/users" id="user">
			<i class="fa-solid fa-user icons"></i>
			<span class="menu-links">Users</span>
		</a>
		<a class="link-container" href="/register"  id="register">
			<i class="fa-solid fa-registered icons" ></i>
			<span class="menu-links">Register</span>
		</a>
		<a class="link-container" href="/login"  id="login">
			<i class="fa-solid fa-sign-in icons"></i>	
			<span class="menu-links">Login</span>
		</a>
	</div>
<script src="../../script/menu.js">

</script>