
	<!-------HIDDEN NAV SIDEBAR MENU------->
	<div id="menu-container">
		
		<a class="link-container" href="/">
			<i class="fa-solid fa-home"></i>
			<span class="menu-links">Home</span>
		</a>
		<a class="link-container" href="/users">
			<i class="fa-solid fa-user"></i>
			<div class="menu-links">Users</div>
		</a>
		<a class="link-container" href="/register">
			<i class="fa-solid fa-registered"></i>
			<div class="menu-links">Register</div>
		</a>
		<a class="link-container" href="/login">
			<i class="fa-solid fa-sign-in"></i>	
			<div class="menu-links">Login</div>
		</a>
		
	
	</div>
