
	<!-------HIDDEN NAV SIDEBAR MENU------->
	<div id="menu-container">
		
		<a class="link-container" href="https://google.com">
			<i class="fa-solid fa-home"></i>
			<span class="menu-links">Home</span>
		</a>
		<a class="link-container" href="https://google.com">
			<div class="menu-links">About</div>
		</a>
		<a class="link-container" href="https://google.com">
			<div class="menu-links">Portfolio</div>
		</a>
		<a class="link-container" href="/login">
			<div class="menu-links">Login</div>
		</a>
		
	
	</div>
