<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title>Add Video</title>
</head>
<body>
    <form id="add">
        <label for="name">
            Name
        </label>
        <input type="text" id="name">
        <label for="img">
            Image
        </label>
        <input type="text" id="img">
        <label for="decription">
            decription
        </label>
        <input type="text" id="decription">
        <button type="submit">Add</button>
    </form>
    <script src="../../script/add_video.js"></script>
</body>
</html>